<!DOCTYPE html>
<html lang="en">
<head>
      {% extends "cars/nav.html" %}
<title>Crossover</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
{% load static %}
{% block c %}
<div class="container">
<h2>Crossover</h2>
<p style="line-height: 200%;font-size:20px;font-family:helvetica;">A crossover, crossover SUV or crossover utility vehicle (CUV) is a type of sport utility vehicle-like vehicle built with unibody frame construction. Crossovers are often based on a platform shared with a passenger car, as opposed to a platform shared with a pickup truck. Because of that, crossovers may also be referred as "car-based SUVs"</p>
<br>
<img src="{% static 'cars/cross.jpg' %}" class="img-thumbnail" alt="Cinque Terre" width="600" height="400">
</div>
{% endblock %}
</body>
</html>