<!DOCTYPE html>
<html lang="en">
<head>
      {% extends "cars/nav.html" %}
<title>CVT</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
{% load static %}
{% block c %}
<div class="container">
<h2>AMT</h2>
<p style="line-height: 200%;font-size:20px;font-family:helvetica;">A continuously variable transmission is an automatic transmission that can change seamlessly through a continuous range of gear ratios. This contrasts with other transmissions that provide a limited number of gear ratios in fixed steps.</p>
<br>
<img src="{% static 'cars/cvt.jpg' %}" class="img-thumbnail" alt="Cinque Terre" width="600" height="400">
</div>
{% endblock %}
</body>
</html>